<html  lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Pizza Order page - Welcome and choose pizza</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Pizza Delivery App</h1>
</header>
<main>
    <form th:action="@{/selectPizza.do}">
    <h2 >Choose pizza:</h2>
    <span th:each="pizza : ${pizzas}">
    <input  type="radio" name="pizza" th:value="${pizza.name}" ><span th:text="${pizza.name+' ('+pizza.description+')'}"></span> <br/>
   <!-- <input type="radio" name="pizza" value="Carbonara"> Carbonara (fresh cream, mozzarella, bacon)<br/>-->
</span>
    <button type="submit">Submit</button>
    </form>
</main>
</body>
</html>